body{
  background-color: #3b6978;
  color:#cae8d5;
}



nav{
  height:100px;
  margin:100px 0 100px 20%;
  position: relative;
  animation-name:headani;
  animation-duration:1s;

}

nav div img{
  height:100px;
  float: left;
}
@keyframes headani {
    0% {
      top:-200px;
    }
    100% {
      top:0;
    }
}







h1{
  color:#cae8d5;
  float:left;
  font-size:45px;
  margin-top:25px;
  margin-left:20px;
}

.clicks{
  width:45%;
  float:right;
}



.form{
  width:350px;
  margin-left:20%;
  position: relative;
  animation-name:formani;
  animation-duration: 1s;
  animation-timing-function: ease-out;
}
@keyframes formani {
  0%{
    left:-500px;
  }
  100%{
    left:0;
  }

}




.lab{
  font-size: 22px;
  font-family: sans-serif;
  font-weight: 400;
}
.form textarea {
  margin-top:10px;
  height: 30px;
  background-color: #84a9ac;
  border-width:2px;
  border-radius:15px;
  border-color:#84a9ac;
  border-style:none;
  padding:5px 8px;
  font-size: 15px;
  color:#204051;
  width: 250px;
  transition:250ms all ease;

}

.deco{
  margin-left: 10px;
  height: 20px;
  background-color: #84a9ac;
  border-width:2px;
  border-radius:15px;
  border-color:#84a9ac;
  border-style:none;
  padding:5px 8px;
  font-size: 15px;
  color:#204051;

  transition:150ms all ease-in;



}
.form textarea:hover{
  background-color: #cae8d5;
  border-width:2px;
  border-radius:15px;
  border-color:#84a9ac;
  border-style:solid;
}
.form textarea:focus{

  height: 80px;
  width:290px;
  border-width:2px;
  border-radius:20px;
  border-color:#84a9ac;
  border-style:solid;
  padding-left:10px;
  outline:none;
  font-size: 20px;

}
.deco:hover{
  background-color: #cae8d5;
  border-width:2px;
  border-radius:15px;
  border-color:#84a9ac;
  border-style:solid;
}
.deco:focus{

  height: 25px;
  width:200px;
  background-color: #cae8d5;
  border-width:2px;
  border-radius:20px;
  border-color:#84a9ac;
  border-style:solid;
  outline: none;
  font-size: 18px;
  padding-left: 15px;
}


.sub{
  height:40px;
  width:120px;
  font-size:20px;
  background-color: #84a9ac;
  border-radius:20px;
  border-color:#84a9ac;
  border-style:solid;
  color:#204051;
}

.sub:hover {
  background-color: #84a9ac;
  height: 40px;
  font-size:20px;
  font-weight:500;
  border-color:#204051;


  color:#204051;
}
.sub:focus {
  outline: none;
  color:#84a9ac;
  background-color:#204051 ;
  border-color: #204051;
}


hr{
margin-top:100px;
border-style:dotted none none;

border-width:5px;
width:10%;
border-color:#204051;

}
